@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&family=Noto+Sans&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: "Noto Sans";
    color: ##3c6867;
    
}

h2{
    font-family: Cuprum;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #144c4f;
}

#logo{
    float: left;
    font-size: 280%;
}

#menu{
    font-size: 130%;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li{
    float: right;
    margin-right: 60px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 3px solid #3c6867;
}

.active{
    border-bottom: 3px solid #3c6867 ;
}

#hero-image{
    height:600px;
    width: 100%;
    background: url(../images/man-in-sea.jpg) no-repeat center center;

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.6);
    }
}