@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@500&family=Noto+Sans&display=swap');

* {
    margin:0;
    padding:0;
    border:0;
}

body {
    font-family: "Noto Sans";
    color: #096264;
    
}

h2{
    font-family: Cuprum;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #144c4f;
}

#logo{
    float: left;
    font-size: 280%;
}


#menu{
    font-size: 130%;
    list-style-type: none;
    letter-spacing: 2px;
}

#logo, #menu{
    line-height: 75px;
}

#menu li{
    float: right;
    margin-right: 60px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover{
    border-bottom: 3px solid #096264;
}

.active{
    border-bottom: 3px solid #096264;
}

#hero-image{
    height:600px;
    width: 100%;
    background: url(../images/man-in-sea.jpg) no-repeat center center;

    animation-name: hero-zoom; 
    animation-duration: 5s;
    animation-fill-mode:forwards
    
}

#hero-outer{
    height:600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.6);
    }
}


#cover-text, #cover-text h2 {
    color: #ffffff;
   
}
 
 #cover-text h3 {
    color: #ffffff;
    font-family: "Noto Sans";
    font-weight: 200;
   
}

#cover-text {
    font-size: 130%;
    font-family: Cuprum;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    width: 300px;
    height: 200px;

    padding-top: 40px;
    padding-left: 10px;

    background-color: rgba(132, 183, 183, .6);

    bottom: 60px;
    right: 15px;

    position: absolute;

}

#club-ethos{
    height: 600px;
}

#left-about{
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    
}

#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: green;
}
hr {
    border-top: 3px solid #144c4f;
    width: 100%;
    margin: 5px 0;
}

.left-about-heading {
    width: 50%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 50%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading h2 {
    text-align: right;
}

.right-about-heading p {
    text-align: right;
}